.news-app{
    width: 80%;
    margin-inline: auto;
    margin-block: 40px;
    margin-left: 7%;
}
.query-input{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2rem;
    border: 4px solid aqua;
}
.btn-submit {
    background-color: rgb(131, 228, 228);
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 20px;
    padding: 20px 60px;
}